html {
	height: 100%;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	color: white;
	background: black;
	font-family: "Segoe UI",Arial,sans-serif;
	height: 99%;
	width: 90%;
}

header {
	position: absolute;
	top:0%;
	width:99%;
	height: 40%;
	margin: auto auto;
	align-items: center;
	justify-content: center;
	display: flex;
}

tabs {
	position: absolute;
	top: 40%;
	height: 60%;
	width: 99%;
}

hr {
	margin-bottom: 20px;
}

.info {
    width: 100%;
    display: block;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    display: inline-block;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 0px;
}

.buttons {
    width: 100%;
}

.link {
    transition-duration: 0.2s;
    color: slateblue;
    text-decoration: none;
    padding: 10px;
}

.link:hover {
    transition-duration: 0.2s;
    color: white;
}

.link-button {
    color: dodgerblue;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
}

.tab-section {
    width: 100%;
    display: block;
    text-align: left;
}

.bar {
    display: block;
    width: 90%;
    padding-left: 10%;
    border: 1px solid white;
    border-radius: 0px;
    background-color: #050505;
}

.bar-item {
    transition-duration: 0.2s;
    font-size: 1em;
    display: inline-block;
    background-color: #050505;
    color: white;
    border: none;
    user-select: none;
    outline: 0;
    padding: 10px;
    padding-left: 10px;
}

.bar-item:focus {
    transition-duration: 0.2s;
    background-color: black;
    color: dodgerblue;
}

.bar-item:hover {
    transition-duration: 0.2s;
    background-color: white;
    color: black;
}

.tab {
    margin-left: 10%;
}

.tab-header {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab-link {
    text-decoration: none;
    padding: 0px;
}

.tab-item {
    transition-duration: 0.2s;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.tab-item:hover {
    transition-duration: 0.2s;
    box-shadow: 0 0px 0px 0 black, 0 0px 5px 0 white;
}

.music {
    display: inline-block;
}

.image {
    max-width:50%;
    max-height:50%;
}
  